header{
    background: #FE8B20;
}
h1 a{
    color: #FEEDD2;
    text-decoration: none;
}
h2{
    color: #FEEDD2;
    position: relative;
    bottom: 25px;
}
h2 a{
    color: #FE8B20;
    text-decoration: none;
}
#div1{
    position: relative;
    float: right;
}
#div1 p{
    font: bold;
}
#p1 a{
    color: #E1A763;
    text-decoration: none;
}
#div2{
    position: relative;
    float: left;
    border: 1px solid;
}
#div2 h3{
    background-color: #FE8B20;
    color: #FEEDD2;
}
#div2 ul{
    background: #FFD8AF;
}
#div2 a{
    text-decoration: none;
    color: #E1A763;
}