* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    font-size: 1.5em;
}

main {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sect1 {
    background-color: #0e7c74;
    color: white;
    display: flex;
    flex: 2;
    padding: 24px;
    height: 100%;
}

#sect2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

article {
    flex: 1;
    border: 1px solid;
    padding: 24px;
}