main{
    display: flex;
    flex-direction: row;
    gap: 2px;
}

#section1{
    background-color: rgba(123, 198, 199, 0.8);
    padding: 12px 24px;
    width: 20vw;
    height: 100vw;
}

#section2{
    background-color: rgba(193, 219, 210, 1.00);
    padding: 12px 24px;
    width: 80vw;
    height: 100vw;
}