html {
    background-color: #F48222;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: white;
    width: 1200px;
    margin: 0 auto;
}

main {
    display: flex;
    margin: 12px;
}

header {
    padding-top: 5px;
}

header h1 a {
    text-decoration: none;
    color: orange;
    background-color: #F7F9F9;
    margin: 12px;
}

header h2 {
    position: relative;
    bottom: 25px;
    background-color: #F7F9F9;
    margin: 12px;
}

nav {
    background-color: black;
    padding: 0.5px 0px;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav a {
    color: #B1B2B8;
    text-decoration: none;
    font-size: 1.3em;
}

section {
    width: 75%;
}

section a {
    color: #64717B;
    text-decoration: none;
    font-size: 1.1em;
}

aside {
    border: 1px solid;
    width: 220px;
    background-color: #657982;
}

aside h2 {
    padding: 8px;
    background-color: #3B464C;
    color: #FDFCFD;
    font-size: 1em;
}

aside a {
    text-decoration: none;
    color: #FDFCFD;
}

aside li {
    margin: 5px;
}

footer {
    background-color: #657982;
    color: #FDFCFD;
    text-align: center;
    padding: 8px;
}

footer a {
    color: #FDFCFD;
    text-decoration: none;
}